# LaunchDarkly
CANARY_PROVIDER=launchdarkly
LD_API_TOKEN=replace_me
LD_PROJECT_KEY=replace_me
LD_ENV_KEY=production
LD_FLAG_KEY=ams_canary_release

# Unleash
# CANARY_PROVIDER=unleash
# UNLEASH_URL=https://unleash.example.com
# UNLEASH_API_TOKEN=replace_me
# UNLEASH_PROJECT=default
# UNLEASH_FLAG=ams_canary_release
